<!-- <head>
   <title>Event Interaction System</title>
   <meta name="google-signin-scope" content="profile email">
   <meta name="google-signin-client_id" content="162572227800-k5ps6j4362pel3o3a16t40eremj6j0th.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <img id="profileimg">
  <span id="Username"></span>

</body>

<script>
    function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile()
        console.log("Current User is "+ JSON.stringify(googleUser.getBasicProfile()))
        document.querySelector('#Username').innerText = profile.getName()
        console.log("url: " + profile.getImageUrl())
        document.getElementById("profileimg").src = profile.getImageUrl();

    }
</script> -->

<h1><u>Attending a presentation with RoomID.</u></h1>
<br><br><br>
<h1><span style="color:turquoise;">OR</span>  Login to edit ppt files.</h1>


<br>

