<form
  action="/upload"
  method="POST"
  enctype="multipart/form-data"
  onsubmit="submitForm(this);return false"
  style="text-align: left"
>
  <label><u>Upload a ppt file: </u></label>
  <input type="file" name="ppt" accept=".pptx,.ppt,.pdf" id="upload" />
  <button type="submit">Submit</button>
</form>

<ul class="list-group">
  <% users.forEach( function(user) { %>
  <li
    class="list-group-item list-group-item-success d-flex justify-content-between align-items-center"
  >
    <a href="/pptDetail/<%= user.folder %>"> <%= user.fileName %> </a>
    <button
      type="button"
      class="btn btn-danger"
      onclick="deleteppt('<%=user.folder %>')"
    >
      Delete
    </button>
  </li>
  <% }); %>
</ul>

<script>
  async function submitForm(oFormElement) {
    var response = await fetch(oFormElement.action, {
      method: oFormElement.method,
      credentials: "same-origin",
      body: new FormData(oFormElement),
    });

    if (response.ok) {
      var data = await response.json(); // for res.ok() or res.json()
      alert(data.message);
      location.reload(true);
    } else if (response.status == 401) {
      var data = await response.text(); // for res.send()
      alert(data.message);
    } else {
      alert(response.statusText);
    }
  }
  async function deleteppt(foldername) {
    alert(foldername);
    var response = await fetch("/deletefolder/"+foldername, {
      method: "POST",
      credentials: "same-origin",
    });
    if (response.ok) {
      var data = await response.json(); // for res.ok() or res.json()
      alert(data.message);
      location.reload(true);
    } else if (response.status == 401) {
      var data = await response.text(); // for res.send()
      alert(data.message);
    } else {
      alert(response.statusText);
    }
  }
</script>
